body {
    margin: 0;
    padding: 0;
    background-image: url("./roughcloth.png")
}

* {
    margin: 0;
    padding: 0;
}

.allContent {
    text-align: center;
}

.kevName {
font-size: 3em;
margin-top: 2em;
color: #336699;
}

.buttonsAndContent {
    display: flex;
}